-# .tourney-card
-#     .tourney-card__content
-#         .tourney-card__options
-#             =link_to(image_tag("options.svg"), "#")
-#         .tourney-card__image
-#             =image_tag(img)
-#     .tourney-card__title
-#         %p.tourney-card__text
-#             Intermediate Global Taiko Show 20k-250k ALL Players Stanaosdhfasui asdasd dfhau isdfaf

.tourney-card
    .tourney-card__content
        .tourney-card__image-container
            =link_to(image_tag(tourney.cover_image, class: "tourney-card__image"), frontend_user_tourney_path(@user, tourney))
        .tourney-card__settings
            =link_to(image_tag("options.svg", class: "tourney-card__options"), "#")
        .tourney-card__title
            %p.tourney-card__text
                Intermediate Global Taiko Show 20k-250k ALL Players Stanaosdhfasui asdasd dfhau isdfaf
