<div class="match-card">
    <ul class="match-stats">
        <li class="tourney-stats__item"> <%= link_to 'MP-Link', match.mp_link, target: '_blank' %></li>
        <li class="tourney-stats__item"> <%= match.warmup %> </li>
    </ul>
</div>
