<!-- <div class="background-image"></div> -->
 <div class ="backend" style="text-align: center">
    <h1> Welcome to Admin Panel <span style="color: cyan"> <%= current_user.username %> </span> </h1>
    <%= link_to 'All Users', backend_users_path %> <br> <br>
    <%= link_to 'All Tournaments', backend_tourneys_path %>
 </div>
