.footer {
    border-top: 1px solid #4E4E4E;

    &__text {
        line-height: 25px;
        margin-left: 23px;
    }
    &__copyright {
        font-weight: 400;
    }
    &__item {
        font-weight: 200;
    }
}