.tourney-info {
    text-align: center;
    //background: #282828;
    padding: 1rem;
    font-size: 1.6em;
    //box-shadow: 0px 0px 10px 3px black;
    font-size: clamp(1rem, 1.3vw, 4rem);
    background: url(test2.png) repeat-y 0 / 100% auto;
    animation: ani 100000s linear infinite;
    @media (max-width: 580px) {
        background-size: 200%;
        animation: ani 50000s linear infinite;
    } 
}

.tourney {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
        margin-bottom: 2.5rem;
    }
    //border: 1px solid cyan;
    font-size: clamp(0.7rem, 2vw, 100%);
    &__player {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        font-size: 1.5em;
    }

    &__stats {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        box-shadow: 0px 0px 5px 3px black;
        min-height: 300px;
    }
    &__upload-button {
        width: unset;
        height: unset;
        padding: 1rem;
        font-size: 1.125rem;
    }
}
