.user-content {
    
    &__header {
        font-size: 2rem;
        font-weight: 600;
    }
    &__tournaments {
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin: 2.5rem 0 2.5rem 0;
        flex-flow: wrap;
    }

    &__filter-button {
        a {
            display: flex;
            justify-content: space-between;
        }
    }
    &__upload-buttons {
        display: flex;
        a {
            height: unset;
            width: unset;
            padding: 1rem;
            font-size: 1.2rem;
        }
        &--space {
            margin-right: 2.75rem;
        }
    } // 1fr 1fr 1fr 0fr
}

.tournaments {
    &__list {
        //height: 100%;
        //display: grid;
        // grid-gap: 4.5rem 3.9rem;
        //grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        //grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        //grid-template-columns: repeat(auto-fit, 325px);
        //grid-auto-rows: 325px;
        columns: 4 325px;
        text-align: -webkit-center;
        &--matches {
            columns: 3 325px; //Change pixel
        }
    }
    &__item {
        margin-bottom: 1.5rem;
        &--avoid-break {
            break-inside: avoid-column;
        }
    }
    margin-bottom: 4rem;
}