<div class="tourney-card">
    <div class="tourney-card__color">
    </div>
    <ul class="tourney-stats">
        <li class="tourney-stats__item"> <%= link_to tourney.title, user_tourney_path(@user, tourney) %> </li>
        <li class="tourney-stats__item"> 3x </li>
        <li class="tourney-stats__item"> 950x</li>
        <li class="tourney-stats__item"> 3.3</li>
        <li class="tourney-stats__item"> <%= link_to 'Upload Match', new_user_tourney_match_path(@user, tourney) %></li>
        <li class="tourney-stats__item user-data__avatar"> <%= link_to image_tag("link.png", class: 'avatar__img avatar__img--inverted'), user_tourney_path(@user, tourney)%>
    </ul>
</div>