//$('.user-data__lel a').hide().parent().append("<%= j render 'form', tourney: @tourney %>");
$('body').append("<div class='tourney-popup'> </div>");
$('.tourney-popup').append("<div class='tourney-popup__content'> </div>");
$('.tourney-popup__content').append("<%= j render 'form', tourney: @tourney %>");
