//$('.user-data__lel a').hide().parent().append("<%= j render 'form', tourney: @tourney %>");
$('body').append("<div class='popup'> </div>");
$('.popup').append("<div class='popup__content'> </div>");
$('.popup__content').append("<%= j render 'form', tourney: @tourney %>");
