.user-content
    =render partial: "shared/user-card"
    .container
        %h4.user-content__header 
            All Participated Tournaments
        .user-content__tournaments
            .user-content__buttons
                .user-content__filter-button
                    =link_to "#", class: "button button--filter" do
                        %span Filter
                        =image_tag("chevron.svg")
                    
                .user-content__upload-buttons
                    =link_to "Upload Spreadsheet", "#", class: "button user-content__upload-buttons--space"
                    =link_to "Upload Tournament", new_frontend_user_tourney_path(@user), class: "button", remote: true
                    
            .tournaments
                %ul.tournaments__list
                    -@tourneys.each do | tourney |
                        %li.tournaments__item
                            =render tourney
=render partial: "shared/user-footer"