<div class="user-page">
  <div class="user-page__info">
    <div class="user-data">
      <div class="user-data__avatar avatar">
        <img src="<%= @user.avatar_url %>" class="avatar__img">
        <span class="user-data__username"> <%= @user.username + "'s Tournament Profile" %> </span>
      </div>
      <div class="user-data__buttons">
        <%= link_to 'osu! Profile', "https://osu.ppy.sh/users/#{@user.user_id}", class: 'button__user-page',target: '_blank'%>
      </div>
    </div>
  </div>
  <div class="user-page__stats">

  </div>
  <div class="user-page__tourneys">
    <!-- Add ForEach to get all tourneys listed -->
    <% @tourneys.each do |t|%>
      <div class="tourney-card">
        <ul class="tourney-stats">
          <li class="tourney-stats__fc"> 3x </li>
          <li class="tourney-stats__max-combo"> 950x</li>
          <li class="tourney-stats__matchcost"> 3.3</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>