<div class="beta">
    <strong class="beta__text">This website is not in its final state!
        When you notice a bug or something else that shouldn't be right please report it, thanks!
    </strong>
</div>