<nav class="nav">
    <span class="nav__logo"> INSERT LOGO LMAO </span>
    <ul class="navbar">
        <li class="navbar__items"> Homes </li>
        <li class="navbar__items"> About Us </li>
        <li class="navbar__items"> Discord </li>
        <li class="navbar__items"> Register </li>
        <li class="navbar__items"> Login </li>
    </ul>
</nav>
<%= yield%>