<div class="tourney-card">
    <ul class="tourney-stats">
        <li class="tourney-stats__fc"></li>
        <li class="tourney-stats__max-combo"></li>
        <li class="tourney-stats__matchcost"></li>
    </ul>
</div>