.tourney-card
  .tourney-card__header
    .tourney-card__title 
      %p rog-unlimitation by 07th Expansion
    .tourney-card__map
      %p.tourney-card__stars
      %strong.tourney-card__difficulty
      %p.tourney-card__mapper
  .tourney-card__content
    .tourney-card__rank
      %img
      %p.tourney-card__score
    .tourney-card__statistics
      .tourney-card__combo
      .tourney-card__accuracy