%footer.user-footer
    .user-footer__icons
        =link_to(image_tag("statistics.svg", class: "user-footer__statistics"))
        =link_to(image_tag("tournament.svg", class: "user-footer__tournaments"))
        =link_to(image_tag("settings.svg", class: "user-footer__settings"))
