*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #181818;
    overflow-x: hidden;
    font-family: "Raleway", "sans-serif";
    font-weight: 400;
    margin: 0;
    color: white;
}

p, a, span, strong {
    color: white;
    text-decoration: none;
}
a {
    &:hover {
        color: $accent-color;
    }
}
input {
    background: #181818;
    color: white;
}
// .container {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
//     justify-content: space-between;
//     margin: 0 214px;
// }
// .content {
//     border: 2px solid magenta;
// }
.container {
    margin-inline: auto;
    width: MIN(90%, 93.25rem);
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
}