<!--<div class="background-image"></div> -->
<!-- <div class ="header">
    <div class="header__content">
        <h1 class="header__header">What is osu!tourney?</h1>
        <div class="header__text">
            <p class="header__description"> osu!tourney Allows You To <span class="highlight">Save</span> Your Tournament Matches And <span class="highlight">Creates</span> A History Of The Tournament You've Played <br> <br> Seems Interesting? Try It Out Now!</p>
        </div>
        <% if current_user.nil? %>
            <div class="buttons">
                <%= button_to 'Login via osu!', login_path, method: :get, class: 'button buttons--animation buttons__login buttons__login--dark' %>
            </div>
        <% end %>
    </div>
    <!-- <div class="header__logo">
         <img src="assets/test.jpeg" class="header__img">
    </div> !-->
<!-- </div> -->

<div class="homes">
    <div class="homes-tourney">
        <div class="homes-toureny__introduction">
            <img src="" class="homes-tourney__header"/>
            <pre class="homes-tourney__description"> 
                You always wanted to have a fancy overview of
                the tournament matches you've played?
                You don't want to go through your google docs and find Match X?
                osu!tourney allows you to <span class="highlight">save</span> your matches
                you've played in a tournament
                and make it even easier to have an overview of all tournaments
            </pre>
            <div class="buttons">
                <%= link_to 'Save A Tourney', new_user_tourney_path(@user, @tourney) %>
                <%= link_to 'View Profile', user_path(current_user) %>
            </div>
        </div>
        <div class="homes-tourney__image">
            <img src="https://cdn.discordapp.com/attachments/849604504613945364/904385120251809802/XOhIzgk.png" class="homes-tourney__logo"/> <!-- Image_tag -->
        </div>
    </div>
    <div class="homes-info">
        <div class="homes-info__kp"></div>
        <div class="homes-info__news">
            <img src="" class="homes-info__cover-image"/> <!-- Image_tag -->
            <img src="" class="homes-info__bracket homes-info__bracket--right"/>
            <img src="" class="homes-info__bracket--right">
        </div>
        <div class="homes-info__stats">
            <div class="homes-info__total-matches">
                <h3 class="homes-info__title"> </h3>
            </div>
            <div class="homes-info__registered-user">
                <h3 class="homes-info__title"> </h3>
            </div>
            <div class="homes-info__total-tournaments">
                <h3 class="homes-info__title"> </h3>
            </div>
        </div>
    </div>
</div>