<div class="background-image"></div>
<%= render partial: "shared/navbar"%>
<div class="header">
    <div class="header__content">
        <h1 class="header__header">What is osu!tourney?</h1>
        <div class="header__text">
            <p class="header__description"> osu!tourney Allows You To <span class="highlight">Save</span> Your Tournament Matches And <span class="highlight">Creates</span> A History Of The Tournament You've Played <br> <br> Seems Interesting? Try It Out Now!</p>
        </div>
        <% if !!current_user %>
            <div class="buttons">
                <%= button_to 'Sign Up!', register_path, method: :get, class: 'button buttons__signup'%>
                <%= button_to 'Login!', login_path, method: :get, class: 'button buttons__login buttons__login--dark'%>    
            </div>
        <% end %>
    </div>
    <!-- <div class="header__logo">
         <img src="assets/test.jpeg" class="header__img">
    </div> !-->
</div>