<div class="welcome">
    <div class="welcome__header">
        <h1 class="welcome__text">{osu! tourney}</h1>
    </div>
    <div class="welcome__buttons">
        <%= link_to 'Register', register_path, class: 'welcome__register' %>
    </div>
</div>