<div class="match-card">
    <div class="match-card__color">
    </div>
    <ul class="match-stats">
        <li class="tourney-stats__item"> <%= link_to "Round of 32", '#' %> </li>
        <li class="tourney-stats__item"> <%= match.mp_link %></li>
    </ul>
</div>