.beta {
    position: sticky;
    top: 0;
    background: #274a7e;
    padding: 24px;
    text-align: center;
    z-index: 9999;
    &__text {
        text-align: justify;
        font-size: clamp(9px, 1vw, 20px);
    }
}