.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    &__register {
        padding: 72px;
        background-color: #091009;
        border-radius: 20px;

    }
    &__label {
        //position: absolute;
        font-size: 20px;
        //>transition: .3s ease-out;
    }

    &__textfield {
        display: flex;
        font-size: 20px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid cyan;

        &:focus {
            outline: none;
        }
    }
    &__submit-wrapper {
        text-align: center;
        padding: 20px 0px 0px 0px;
    }
}