// // Place all the styles related to the homes controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/
// * {
//     margin: 0;

// }

// .welcome {
//     font-family: monospace;
//     width: 100%;
//     height: 900px;
//     background: #242323;

//     &__header {
//         height: 800px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     &__text {
//         color: white;
//         font-size: 72px;
//         border-right: solid 2px rgba(255,255,255,0.7);
//         overflow: hidden;
//         white-space: nowrap;
//         animation: typewriter 2s steps(14) 1s normal both, cursor 500ms infinite normal, 2s moving 4s forwards;    
//     }
//     &__register {
//         text-decoration: none;
//         color: white;
//     }
//     &__buttons {
//         width: 100px;
//         height: 100px;
//         background: green;
//         border-radius: 10px;
        
//         &:hover {
//             cursor: pointer;    
//         }
//         &:active {
//             background: red;
//         }
//     }
// }

// @keyframes typewriter {
//     0%{width: 0;}
//     100%{width: 14ch;}
// }
// @keyframes cursor {
//     0%{border-right-color:rgba(255,255,255,0.7);}
//     100%{border-right-color: transparent;}
// }
// @keyframes moving {
//     from {-webkit-transform: translate(0px, 0px);}
//     to {-webkit-transform: translate(-500px,-200px); font-size: 48px;}
// }

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}
input {
    color: black;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    background: #141414;
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #080808;
}

::-webkit-scrollbar-thumb {
    background: #353535;
}
// div {
//     //border: 2px solid white;
// }
.background-image{
    //opacity: 0;
    z-index: -1;
    background-image: url('https://64.media.tumblr.com/c36b46296e73f4afce3ba0a7e144c60b/tumblr_olv0zt7QxX1s1bwvio4_r1_640.gif'); //train.gif
    background-size: 100%; //entfernen
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(15px);
    //transition: background-image 4s ease-in-out;
    //animation: fadeIn 1s forwards 4s ease-in-out;
}

.header {
    color: white;
    display: flex;
    width: 100%;
    height: 800px;
    //border: 2px solid white;
    align-items: center;
    justify-content: center;
    
    &__text {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
    
    &__description {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        opacity: 0;
        animation: fadeIn 1s forwards 3.5s ease-in-out;
        font-size: 20px;
        width: 75%;
        line-height: 28px;
    }
    
    &__content {
        width: 50%;
        height: 500px;
        text-align: center;
        
    }
    &__header {
        font-family:'Roboto', sans-serif;
        z-index: 2;
        font-size: 70px;
        overflow: hidden;
        white-space: nowrap;
        animation: typewriter 3s 1s normal both, cursor 600ms ease-out 5;    
        border-right: solid 2px transparent;
    }
    
    &__logo {
        border: 2px solid white;
        width: 50%;
        height: 75%;
        overflow: hidden;
        margin: 15px 50px 0px 0px;
        overflow: hidden;
    }
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    //font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    //font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    width: 200px;
    height: 55px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.404);
    box-shadow: 1px 3px 5px 0px black;
    background-color: #444444EB;
    cursor: pointer;
    transition: border 100ms ease-out;
    text-shadow: 1px 3px 4px black;
    text-decoration: none;
    &:hover {    
        border: 2px solid white;
    }
    &__user-page {
        box-shadow: 0px 1px 5px 1px black;
        text-decoration: none;
        border-radius: 5px;
        background: #42044B;
        padding: 10px 28px 10px 28px;      
    }
}

.buttons {
    display: -webkit-inline-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    &__signup {
        margin-right: 15px;
    }
    &__login {
        transition: background-color 200ms ease-out;
        margin-left: 15px;
        border-color: white;
        border: 2px solid rgba(255, 255, 255, 0.404);
        //box-shadow: 0px 0px 2px 1px white;
        transition: border 100ms ease-out;
        &--dark {
            background: #242323;
        }
        &:hover {
            border: 2px solid white;
            background: transparent;
        }
    }
    &--animation {
        opacity: 0;
        animation: fadeIn 1s forwards 4s ease-in-out;    
    }
}

.highlight {
    color: cyan;
}

.nav {
    margin: 0 auto;
    width: 70%;
    height: 90px;
    margin-bottom: 2.5em;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        margin-left: 35px;
        font-size: 18px;
    }
}
.navbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;

    &__items {
        //opacity: 0;
        font-size: 22px;
        //animation: fadeIn 1s forwards 3s ease-in-out;
        cursor: pointer;
        margin-left: 40px;
        transition: color 150ms ease-in-out;
        &:first-child {
            justify-content: flex-start;
        }
        &:hover {
            color: cyan;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
}
.avatar {
    &__logo {
        height: 200px;
    }
    &__img {
        border-radius: 20px;
        border: 3px solid transparent;
        max-height: 80px;
        height: 80px;
        max-width: 100px;

        &--inverted {
            filter: invert(1);
            border-radius: 0px;
            height: 35px;
        }
    }
}
@keyframes typewriter {
    0%{width: 0;}
    100%{width: 100%;}
}
@keyframes cursor {
    0%{border-right-color:rgba(255,255,255,0.7);}
    100%{border-right-color: transparent;}
}

@keyframes fadeIn {
    0%{transform: translateY(10px); color: transparent; opacity: 0;}
    100%{transform: translateY(-10px); color: white; opacity: 1;}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

label {
    color: white;
    font-family: 'Roboto', sans-serif;

}

// Add media-queries (responsive design)


.homes {
    margin: 0 auto;
    width: 70%;
    height: 80em;
    background: #121212;
    box-shadow: 0px 0px 10px 5px black;
    &__welcome {
        padding: 30px;
    }
}

.homes-tourney {
    display: flex;
    justify-content: space-between;
    &__introduction {
        
    }
    &__logo {
        white-space: pre;
    }
    &__image {
        
        height: 500px;
        margin-right: 50px;
        margin-top: 30px;

        &--logo {
            height: 100px;
        }
    }
    &__osu {
        white-space: pre;
    }
    &__description {
        color: #ffffffa6;
        margin-bottom: 130px;
        font-size: 20px;
    }
}