.match-card {
    margin: 20px auto;
    //width: 95%;
    //font-size: clamp(1rem, 2vw, 2rem);
    border: 1px solid cyan;
    border-radius: 15px;
}

.match-stats {
    display: flex;
    justify-content: space-between;
}