.tourney-info {
    text-align: center;
    background: #282828;
    padding: 50px;
    font-size: 1.6em;
    box-shadow: 0px 0px 10px 3px black;
}

.tourney {

    &__header {
        display: flex;
        justify-content: space-between;
    }
    margin: 50px auto;
    width: 70%;
    //border: 1px solid cyan;
    &__player {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
    }

    &__stats {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        box-shadow: 0px 0px 5px 3px black;
        min-height: 300px;
    }
}
