
.user {
    width: 60%;
    height: 1000px;
    margin: 0 auto;
}

.user-profile {
    display: flex;
    height: 30%;
    &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        img {
            height: 200px;
            border-radius: 200px;
            border: 5px solid #107070;
            overflow: hidden;
        }
    }
    &__username {

    }
    &__description {

    }
}