.user-page {
    margin: 0 auto;
    width: 70%;
    //width: 60vw;
    //box-shadow: 0px 0px 10px 5px black;
    //height: auto;
    
    //filter: drop-shadow(-5px, -5px 3px, black);
    &__info {
        background: #202020;
    }
    &__tourney-cards {
        display: flex;
        flex-flow: wrap;
    }
}
.user-data {
    
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 5px black;

    &__avatar {
        display: flex;
        margin: 1em 1em 1em 3em;  
    }

    &__username {
        font-size: 28px;
        display: flex;
        margin-left: 1em;
        align-items: center;
    }
    &__buttons {
        display: flex;
        align-items: end;
        margin-right: 3em;
        margin-bottom: 1em;
        
    }
    &__lel {
        display: flex;
    }
}

.tourney-stats {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}