%section.hero
    .hero__content
        %p.hero__header Tourney Profile 
        %p.hero__description
            dadufsfhiodgfshugzudhafusjdgifhkojhzjdgisfaduzgasfhd
            aiosjdfsajdgofhkjgpfgksdfjaihguasfhuijokpglpfdskoaj
            dadufsfhiodgfshugzudhafusjdgifhkojhzjdgisfaduzgasfhd
            aiosjdfsajdgofhkjgpfgksdfjaihguasfhuijokpglpfdskoaj
            
        .hero__buttons
            =link_to "Try it Out!", frontend_login_path, class: "button hero__buttons--space"
            =link_to "View Profiles", "#", class: "button"
    .hero__image
        =image_tag("test2.png")
%section.info
    .info__carousel
    .info__text

%section.statistics
    .statistics__list
        .statistics__item
        .statistics__item
        .statistics__item